[submodule "ip_repo/zedboard_audio"]
	path = ip_repo/zedboard_audio
	url = https://github.com/raunc/zedboard_audio
[submodule "git/SoC_Design"]
	path = git/SoC_Design
	url = https://github.com/karljans/SoC_Design
[submodule "sd-temp/u-boot-Digilent-Dev"]
	path = sd-temp/u-boot-Digilent-Dev
	url = https://github.com/Digilent/u-boot-Digilent-Dev.git
